In [6]:
import pandas as pd
import numpy as np
import os

In [7]:
from difflib import SequenceMatcher

In [8]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [9]:
df_eco= pd.read_csv('emetrp.csv', delimiter=';',encoding = "ISO-8859-1", error_bad_lines=False)
df_aer= pd.read_csv('aecrev.csv', delimiter=';',encoding = "ISO-8859-1", error_bad_lines=False)
df_jpe= pd.read_csv('jpolec.csv', delimiter=';',encoding = "ISO-8859-1", error_bad_lines=False)
df_qje= pd.read_csv('qjecon.csv', delimiter=';',encoding = "ISO-8859-1", error_bad_lines=False)
df_res= pd.read_csv('restud.csv', delimiter=';',encoding = "ISO-8859-1", error_bad_lines=False)

In [10]:
df=df_aer.append(df_eco,ignore_index=True)
df=df.append(df_qje,ignore_index=True)
df=df.append(df_jpe,ignore_index=True)
df=df.append(df_res,ignore_index=True)

In [11]:
df.drop(columns=['handle','title','vol','issue','page','end page'], inplace=True)

In [13]:
df_repec=pd.read_csv('autores_repec.csv', delimiter=',')

In [14]:
df_repec

                       Name Short-Id
0              Arild Aakvik     paa1
1                 Eline Aas    paa10
2           Arnstein Aassve    paa11
3      Susan Ariel Aaronson    paa12
4           Daniel Aaronson    paa13
...                     ...      ...
70758   Eduardo Zylberstajn     pzy5
70759     Adam Zylbersztejn     pzy6
70760          Robert Zymek     pzy7
70761      Yanos Zylberberg     pzy8
70762       Benjamin Zycher     pzy9

[70763 rows x 2 columns]

In [15]:
df_final = pd.merge(df, df_repec, how = 'left',left_on ='author', right_on = 'Name')
df_final

,journal,year,author,Name,Short-Id
0,American Economic Review,2000.0,D. Gale Johnson,D. Gale Johnson,pjo254
1,American Economic Review,2000.0,Dmitriy Stolyarov,NaN,NaN
2,American Economic Review,2000.0,Boyan Jovanovic,Boyan Jovanovic,pjo20
3,American Economic Review,2000.0,Eric S. Rosengren,NaN,NaN
4,American Economic Review,2000.0,Joe Peek,Joe Peek,ppe90
...,...,...,...,...,...
17139,Review of Economic Studies,2019.0,Jeong Ho (John) Kim,NaN,NaN
17140,Review of Economic Studies,2019.0,Eduardo Morales,NaN,NaN
17141,Review of Economic Studies,2019.0,Gloria Sheu,Gloria Sheu,psh447
17142,Review of Economic Studies,2019.0,Andrés Zahler,NaN,NaN
17143,Review of Economic Studies,2019.0,Eduardo Souza-Rodrigues,NaN,NaN

In [16]:
df_final_1 = df_final.dropna()
df_final_1

,journal,year,author,Name,Short-Id
0,American Economic Review,2000.0,D. Gale Johnson,D. Gale Johnson,pjo254
2,American Economic Review,2000.0,Boyan Jovanovic,Boyan Jovanovic,pjo20
4,American Economic Review,2000.0,Joe Peek,Joe Peek,ppe90
5,American Economic Review,2000.0,Larry Samuelson,Larry Samuelson,psa80
6,American Economic Review,2000.0,George J. Mailath,George J. Mailath,pma6
...,...,...,...,...,...
17133,Review of Economic Studies,2019.0,Elisa Faraglia,Elisa Faraglia,pfa164
17134,Review of Economic Studies,2019.0,Albert Marcet,Albert Marcet,pma173
17135,Review of Economic Studies,2019.0,Rigas Oikonomou,Rigas Oikonomou,poi7
17136,Review of Economic Studies,2019.0,Andrew Scott,Andrew Scott,psc65
17141,Review of Economic Studies,2019.0,Gloria Sheu,Gloria Sheu,psh447

In [17]:
df_final_1.to_csv('test.csv')

In [19]:
df_final_0 = df_final[df_final.isna().any(axis=1)]
df_final_0

,journal,year,author,Name,Short-Id
1,American Economic Review,2000.0,Dmitriy Stolyarov,NaN,NaN
3,American Economic Review,2000.0,Eric S. Rosengren,NaN,NaN
7,American Economic Review,2000.0,Avner Shaked,NaN,NaN
8,American Economic Review,2000.0,David E. Wildasin,NaN,NaN
10,American Economic Review,2000.0,Thomas J. Nechyba,NaN,NaN
...,...,...,...,...,...
17138,Review of Economic Studies,2019.0,Junehyuk Jung,NaN,NaN
17139,Review of Economic Studies,2019.0,Jeong Ho (John) Kim,NaN,NaN
17140,Review of Economic Studies,2019.0,Eduardo Morales,NaN,NaN
17142,Review of Economic Studies,2019.0,Andrés Zahler,NaN,NaN
17143,Review of Economic Studies,2019.0,Eduardo Souza-Rodrigues,NaN,NaN

In [20]:
df_final_0.sort_values(by='author')

                          journal    year                author Name Short-Id
5934     American Economic Review  2013.0       ?kos Valentinyi  NaN      NaN
17022  Review of Economic Studies  2019.0     A Mushfiq Mobarak  NaN      NaN
4185     American Economic Review  2010.0  A. Joshua Strickland  NaN      NaN
7181     American Economic Review  2016.0        A. Kerem Co?ar  NaN      NaN
6771     American Economic Review  2015.0    A. Mushfiq Mobarak  NaN      NaN
...                           ...     ...                   ...  ...      ...
15911                         NaN     NaN                   NaN  NaN      NaN
15912                         NaN     NaN                   NaN  NaN      NaN
16692                         NaN     NaN                   NaN  NaN      NaN
16693                         NaN     NaN                   NaN  NaN      NaN
16694                         NaN     NaN                   NaN  NaN      NaN

[7622 rows x 5 columns]

In [21]:
df_final_0[df_final_0.author=='ski']

                          journal    year author Name Short-Id
16107  Review of Economic Studies  2011.0    ski  NaN      NaN

In [22]:
autores = list(df_final_0["author"])
autores = [autores[i] for i in range(len(autores)) if type(autores[i])!=float]
len(autores)

7435

In [40]:
ids = list(df_repec['Short-Id'])
len(ids)

70763

In [43]:
names = list(df_repec["Name"])
names_tuplas = [(names[i], i) for i in range(len(names)) if type(names[i])!=float]

In [32]:
len(names)

70763

In [26]:
"a f.a. r".replace(".", ". ").replace("  ", " ")

'a f. a. r'

In [50]:
from numba import njit
from numba import jit
from numba import autojit
from timeit import default_timer as timer

In [53]:
@autojit
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

@autojit
def retornaDic(lista_autores, lista_names):
    dic = {}
    for autor in autores:
        autor = autor.replace(".", ". ")
        autor = autor.replace("  ", " ")
        autor = autor.lower()
        for name, indice in names_tuplas:
            name = name.replace(".", ". ")
            name = name.replace("  ", " ")
            name = name.lower()
            prob = similar(autor, name)
            if prob>=0.85:
                if autor not in dic:
                    dic[autor] = [name, ids[indice]]
                else:
                    dic[autor] += [name, ids[indice]]
                #print("{}|{}-->{}".format(autor.lower(), name.lower(),"{:.6f}".format(prob)))
    return dic

C:\Users\JaimePanchana\Anaconda3\lib\site-packages\numba\decorators.py:29: NumbaDeprecationWarning: autojit is deprecated, use jit instead, which provides the same functionality. For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-numba-autojit
  warnings.warn(NumbaDeprecationWarning(msg))

In [54]:
start = timer()
diccionario = retornaDic(autores, names)
dt = timer() - start
print("Mandelbrot created in {} s".format(dt))

<ipython-input-53-9b7c9a7e2341>:5: NumbaWarning:
Compilation is falling back to object mode WITH looplifting enabled because Function "retornaDic" failed type inference due to: Unknown attribute 'replace' of type unicode_type

File "<ipython-input-53-9b7c9a7e2341>", line 9:
def retornaDic(lista_autores, lista_names):
    <source elided>
    for autor in autores:
        autor = autor.replace(".", ". ")
        ^

[1] During: typing of get attribute at <ipython-input-53-9b7c9a7e2341> (9)

File "<ipython-input-53-9b7c9a7e2341>", line 9:
def retornaDic(lista_autores, lista_names):
    <source elided>
    for autor in autores:
        autor = autor.replace(".", ". ")
        ^

  @autojit
<ipython-input-53-9b7c9a7e2341>:5: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "retornaDic" failed type inference due to: cannot determine Numba type of <class 'numba.dispatcher.LiftedLoop'>

File "<ipython-input-53-9b7c9a7e2341>", line 8:
def retornaDic(lista_autores, lista_names):
    <source elided>
    dic = {}
    for autor in autores:
    ^

  @autojit
C:\Users\JaimePanchana\Anaconda3\lib\site-packages\numba\compiler.py:742: NumbaWarning: Function "retornaDic" was compiled in object mode without forceobj=True, but has lifted loops.

File "<ipython-input-53-9b7c9a7e2341>", line 6:
@autojit
def retornaDic(lista_autores, lista_names):
^

  self.func_ir.loc))
C:\Users\JaimePanchana\Anaconda3\lib\site-packages\numba\compiler.py:751: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "<ipython-input-53-9b7c9a7e2341>", line 6:
@autojit
def retornaDic(lista_autores, lista_names):
^

  warnings.warn(errors.NumbaDeprecationWarning(msg, self.func_ir.loc))
<ipython-input-53-9b7c9a7e2341>:5: NumbaWarning:
Compilation is falling back to object mode WITHOUT looplifting enabled because Function "retornaDic" failed type inference due to: non-precise type pyobject
[1] During: typing of argument at <ipython-input-53-9b7c9a7e2341> (8)

File "<ipython-input-53-9b7c9a7e2341>", line 8:
def retornaDic(lista_autores, lista_names):
    <source elided>
    dic = {}
    for autor in autores:
    ^

  @autojit
C:\Users\JaimePanchana\Anaconda3\lib\site-packages\numba\compiler.py:742: NumbaWarning: Function "retornaDic" was compiled in object mode without forceobj=True.

File "<ipython-input-53-9b7c9a7e2341>", line 8:
def retornaDic(lista_autores, lista_names):
    <source elided>
    dic = {}
    for autor in autores:
    ^

  self.func_ir.loc))
C:\Users\JaimePanchana\Anaconda3\lib\site-packages\numba\compiler.py:751: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "<ipython-input-53-9b7c9a7e2341>", line 8:
def retornaDic(lista_autores, lista_names):
    <source elided>
    dic = {}
    for autor in autores:
    ^

  warnings.warn(errors.NumbaDeprecationWarning(msg, self.func_ir.loc))

KeyboardInterrupt:

In [28]:
for autor in autores:
    autor = adjustString(autor)
    for name, indice in names_tuplas:
        name = adjustString(name)
        prob = similar(autor, name)
        if prob>=0.85:
            print("{}|{}-->{}".format(autor.lower(), name.lower(),"{:.6f}".format(prob)))
            #lista_autor = autor.split(" ")
            #lista_name = name.split(" ")

dmitriy stolyarov|dmitriy l. stolyarov-->0.918919
eric s. rosengren|eric rosengren-->0.903226
david e. wildasin|david wildasin-->0.903226
thomas j. nechyba|thomas nechyba-->0.903226
thomas f. hellmann|thomas fellmann-->0.909091
thomas f. hellmann|thomas hellmann-->0.909091
joseph e. stiglitz|joseph stiglitz-->0.909091
thierry verdier|thierry a. verdier-->0.909091
michael kremer|michael keller-->0.857143
michael kremer|michael kirker-->0.857143
michael kremer|michael siemer-->0.857143
lisa j. cameron|lisa cameron-->0.888889
michael d. whinston|michael whinston-->0.914286
j. mark ramseyer|john mark ramseyer-->0.882353
eric b. rasmusen|eric rasmusen-->0.896552
clemens j. m. kool|clemens j. m. kool-->1.000000
bradley j. ruffle|bradley ruffle-->0.903226
rachel mcculloch|rachel mcculloch-->0.937500
blake lebaron|blake lebaron-->0.923077
guillermo a. calvo|guillermo calvo-->0.909091
carmen m. reinhart|carmen reinhart-->0.909091
lars e. o. svensson|lars e. o. svensson-->1.000000
frederic s. mishkin|frederic mishkin-->0.914286
christopher d. carroll|christopher carroll-->0.926829
christopher foote|christopher boone-->0.882353
christopher foote|christopher lee foote-->0.894737
christopher foote|christopher f-->0.866667
christopher foote|christophe volonte-->0.857143
james a. robinson|james alan robinson-->0.888889
gordon h. hanson|gordon hanson-->0.896552
kevin j. stiroh|kevin stiroh-->0.888889
dale w. jorgenson|dale jorgenson-->0.903226
steven j. davis|steven davis-->0.888889
robert e. hall|robert hall-->0.880000
robert e. hall|robert j. hill-->0.857143
kevin j. murphy|kevin m. murphy-->0.933333
kevin j. murphy|kevin murphy-->0.888889
adam b. jaffe|adam jaffe-->0.869565
molly macauley|molly k. macauley-->0.903226
james m. poterba|james poterba-->0.896552
daniel r. feenberg|daniel feenberg-->0.909091
alan j. auerbach|alan auerbach-->0.896552
william m. gentry|william gentry-->0.903226
steven f. venti|steven venti-->0.888889
james m. poterba|james poterba-->0.896552
david a. wise|david wise-->0.869565
patrick l. mason|patrick leon mason-->0.882353
kenneth y. chay|kenneth s. chan-->0.866667
kenneth y. chay|kenneth chay-->0.888889
yuichi kitamura|yuichi kimura-->0.928571
william johnson|will johnson-->0.888889
william johnson|william r. johnson-->0.909091
george j. borjas|george borjas-->0.896552
david card|david e. card-->0.869565
david card|david carfi-->0.857143
david card|david clark-->0.857143
david card|david ward-->0.900000
robert a. moffitt|robert moffitt-->0.903226
edward p. lazear|edward lazear-->0.896552
david i. laibson|david laibson-->0.896552
john mcmillan|john mcmillan-->0.923077
thomas schelling|thomas c. schelling-->0.914286
christopher d. carroll|christopher carroll-->0.926829
david n. weil|david weil-->0.869565
jeremy c. stein|jeremy stein-->0.888889
anil k. kashyap|anil kashyap-->0.888889
david h. romer|david romer-->0.880000
james a. kahn|james a kahn-->0.960000
jeroen m. swinkels|jeroen swinkels-->0.909091
joseph e. harrington|joseph e. harrington, jr. -->0.869565
kenneth m. kletzer|kenneth kletzer-->0.909091
michelle r. garfinkel|michelle r garfinkel-->0.975610
jeremy c. stein|jeremy stein-->0.888889
david s. scharfstein|david scharfstein-->0.918919
christopher avery|christopher n. avery-->0.918919
stephen g. cecchetti|stephen cecchetti-->0.918919
nelson c. mark|nelson mark-->0.880000
david n. weil|david weil-->0.869565
kristin j. forbes|kristin forbes-->0.903226
matthew a. turner|matthew turner-->0.903226
john a. list|john list-->0.857143
simon gachter|simon gaechter-->0.962963
simon gachter|simon lacher-->0.880000
mark j. kamstra|mark kamstra-->0.888889
eric van wincoop|eric van wincoop-->0.937500
caroline m. hoxby|caroline hoxby-->0.903226
gene m. grossman|gene grossman-->0.896552
jeffrey r. campbell|jeffrey campbell-->0.914286
edward p. lazear|edward lazear-->0.896552
david card|david e. card-->0.869565
david card|david carfi-->0.857143
david card|david clark-->0.857143
david card|david ward-->0.900000
christopher j. erceg|christopher john erceg-->0.904762
christopher j. erceg|christopher j. green-->0.850000
michael d. bordo|michael david bordo-->0.857143
gabriel perez-quiros|gabriel perez quiros-->0.950000
dale w. jorgenson|dale jorgenson-->0.903226
luism. viceira|luis m. viceira-->0.965517
andrew b. abel|andrew abel-->0.880000
lawrence j. christiano|lawrence christiano-->0.926829
richard jensen|richard a. jensen-->0.903226
joseph m. prince|joseph price-->0.857143
kathryn l. dewenter|kathryn dewenter-->0.857143
robert j. macculloch|robert macculloch-->0.864865

KeyboardInterrupt:

In [131]:
for name, indice in names_tuplas:
    name_lista = name.split(" ")

In [155]:
similar("L", "Lee")

0.5

In [153]:
similar("Gachter", "Gaechter")

0.9333333333333333

In [197]:
similar("Card", "Acrd")

0.5

In [196]:
similar("Kremer", "Keller")

0.6666666666666666

In [152]:
similar("Card", "Card")

1.0

In [ ]:
William Johnson | Will Johnson --> 0.888889
William Johnson | William R. Johnson

In [ ]:
David Card | David E. Card --> 0.869565
David Card | David Carfi --> 0.857143
David Card | David Clark --> 0.857143
David Card | David Ward --> 0.900000

In [ ]:
Kevin J. Murphy | Kevin M. Murphy 
Thomas F. Hellmann | Thomas Fellmann

In [192]:
l1, l2 = "Thomas F. Fellmann".split(" "), "Thomas Fellmann".split(" ")

In [193]:
l1

['Thomas', 'F.', 'Fellmann']

In [194]:
l2

['Thomas', 'Fellmann']

In [195]:
for cadena_1 in l1:
    for cadena_2 in l2:
        print(cadena_1, cadena_2)
        nn = similar(cadena_1, cadena_2)
        print(nn)
        print()

Thomas Thomas
1.0

Thomas Fellmann
0.2857142857142857

F. Thomas
0.0

F. Fellmann
0.2

Fellmann Thomas
0.2857142857142857

Fellmann Fellmann
1.0